button:disabled,
* button[disabled] {
  border: 1px solid #ad1616;
  background-color: #cccccc;
  color: #666666;
}
/* 
input[type='button']:enabled {
  background-color: #ffff00;
} */

input[type='button']:disabled {
  background-color: #b31717;
}

*:disabled {
  background-color: dimgrey;
  color: linen;
  opacity: 1;
}
